.modal {
	display: none;
	background: $bg-color;
	width: 480px;
	max-width: 100%;
	will-change: transform, opacity;
	border-radius: 10px;
	transform: translate3d(0,-20px,0);
	opacity: 0;
	transition: all 0.5s ease;

	height: auto !important;
	padding: 30px 50px !important;

	@include res(s){
		padding: 20px;
	}


	&__header{
		margin-bottom: 10px;
	}

	&__title {
		font-size: 25px;
		text-transform: none;
		font-weight: 700;
		margin-bottom: 15px;
	}


}



.fancybox-slide--current {
	.modal {
		transform: none;
		opacity: 1;
	}
}

.fancybox-is-closing {
	.modal {
		transform: translate3d(0,50px,0);
		opacity: 0;
	}
}

.fancybox-bg {
	background: rgba(0, 9, 21, 1);
}

.fancybox-is-open .fancybox-bg{
	opacity: 0.7;
}

button[type="button"].fancybox-close-small {
	@include cross();
	opacity: 1;
}

.fancybox-slide--video button[type="button"].fancybox-close-small{
	top: -10px;
	right: -10px;
	background: #FFF;
}

.fancybox-slide--video,.fancybox-slide--html,.fancybox-slide--iframe {
	padding: 24px 30px;

	@include res(s){
		padding: 20px 12px;
	}
}

.fancybox-content{
	overflow: visible !important;
}

.fancybox-button--close{
	border-radius: 5px;
	background: $seafoam;
	color: #FFF;
}
