.footer {
	background: $bgFooter;
	color: $colorFooter;
	font-size: 12px;
	font-weight: 500;
	line-height: 1.3;

	.container {
		padding-top: 33px;
		padding-bottom: 33px;
		text-align: center;

		@include res(m) {
			padding-top: 24px;
			padding-bottom: 24px;
		}

		@include res(xs) {
			padding-top: 16px;
			padding-bottom: 16px;
		}
	}
}