.footer {
	background: $bgFooter;
	color: $colorFooter;
	font-size: 12px;
	font-weight: 500;

	br {
		display: none;

		@include res(m) {
			display: block;
		}
	}

	.container {
		padding-top: 33px;
		padding-bottom: 33px;
		text-align: center;

		@include res(l) {
			padding-top: calc(18px + (33 - 18) * ((100vw - 360px) / (1024 - 360)));
			padding-bottom: calc(21px + (33 - 21) * ((100vw - 360px) / (1024 - 360)));
		}
	}
}