.header {
	display: flex;
	padding: 16px 0;
	background: #F9F5F1;
	position: sticky;
	top: 0;
	z-index: 5;
	border-bottom: 2px solid #EEE3D9;

	@include res(m) {
		padding: 8px 0;
	}

	&.fixed {
		box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);


	}

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1437px;
	}
}

.header__logo-link {


	@media (max-width: 414px) {
		overflow: hidden;
		width: 45px
	}
}

.header__logo {
	display: block;
	width: auto;
	max-width: 210px;
	position: relative;
	z-index: 9999;

	@include res(m) {
		max-width: 176px;
	}

	@include res(xs) {
		max-width: 155px;
	}
}