.keep-inner {
	max-width: 620px;
	margin: 0 auto;
}

.keep {
	padding: 48px 50px 15px;
	background: rgba(254, 253, 252, 0.60);
	text-align: center;
	//color: $mainColor;
	font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem);
	font-style: normal;
	letter-spacing: 0.32px;
	border-radius: 8px;
	backdrop-filter: blur(8px);

	@include res(m) {
		padding: 20px;
	}

	&__img {
		margin: 0 auto 15px;
		display: block;
	}

	&__icon {
		margin: 0 auto 15px;
		display: block;
		width: auto;
		max-width: 270px;
	}

	&__title {
		text-align: center;
		margin: 0 0 16px;
		color: $mainColor;
	}

	&__sub-title {
		color: $textColor;
		text-align: center;
		font-size: clamp(1rem, 0.943rem + 0.28vw, 1.125rem);
		font-style: normal;
		font-weight: 500;
		line-height: 1.55;
		letter-spacing: 0.36px;
		margin: 0 0 24px;
	}

	p {
		margin-bottom: 24px;

		@include res(xxl) {
			margin-bottom: calc(16px + (24 - 16) * ((100vw - 360px) / (1680 - 360)));
		}
	}
}