.keep-inner {
	max-width: 580px;
	margin: 0 auto;
}

.keep {
	padding: 48px 50px 15px;
	background: #fff;
	text-align: center;
	color: $mainColor;
	font-size: clamp(0.938rem, 0.909rem + 0.14vw, 1rem);
	font-style: normal;
	letter-spacing: 0.32px;
	border-radius: 4px;

	@include res(m) {
		padding: 20px;
	}

	&__img {
		margin: 0 auto 15px;
		display: block;
	}

	&__icon {
		margin: 0 auto 15px;
		display: block;
		width: auto;
	}

	&__title {
		text-align: center;
		margin: 0 0 16px;
	}

	&__sub-title {
		color: $textColor;
		text-align: center;
		font-size: clamp(1rem, 0.943rem + 0.28vw, 1.125rem);
		font-style: normal;
		font-weight: 500;
		line-height: 1.55;
		letter-spacing: 0.36px;
		margin: 0 0 24px;
	}

	p {
		margin-bottom: 23px;
	}
}