.main-nav-wrapper {
	display: flex;
	height: 68px;
	margin: -16px 0;

	@include res(m) {
		opacity: 0;
		transition: opacity .3s ease-in;
		margin-left: -9999px;
	}
}

.main-nav__nav {
	display: flex;
}

.main-nav__list {
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.36px;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

.main-nav__item,
.menu-item {
	padding: 0 20px;
	height: 100%;
	display: flex;
	align-items: center;

	@include res(m) {
		padding: 0 15px;
		margin: 0 0 15px;
	}
}

.main-nav__link,
.menu-item a {
	text-decoration: none;
	position: relative;
	height: 100%;
	align-content: center;
	display: flex;
	align-items: center;
	color: #4A5777;
	font-weight: 700;

	&:before {
		content: "";
		position: absolute;
		bottom: -11px;
		width: 0;
		height: 6px;
		background: $mainColor;
		opacity: 0;
		transition: all 0.3s ease-in;
	}
}

.active a,
.menu-item a:hover,
.main-nav__item--active .main-nav__link,
.main-nav__link:hover {
	&::before {
		opacity: 1;
		width: 100%;
	}
}

.btn-nav {
	width: 47px;
	height: 43px;
	padding: 0;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin: 0 0 0 24px;
	z-index: 9999;
	display: none;
	padding: 0 !important;

	@include res(xs) {
		width: 38px;
		height: 38px;
		margin: 0 0 0 16px;
	}



	figure {
		position: relative;
		z-index: 2;
		width: 30px;
		height: 2px;
		background: #F3FEFD;

		@include res(xs) {
			width: 22px;
		}

		&:after,
		&:before {
			content: '';
			width: 30px;
			height: 2px;
			background: #F3FEFD;
			position: absolute;
			transition: transform 0.4s ease, -webkit-transform 0.4s ease;
			left: 0;

			@include res(xs) {
				width: 22px;
			}
		}

		&:before {
			transform: rotate(0) translate3d(0, -8px, 0);
			background: #F3FEFD;
		}

		&:after {
			transform: rotate(0) translate3d(0, 8px, 0);
		}
	}

	& {

		figure:after,
		figure:before {
			background: #fff;
		}
	}

	&:hover figure,
	&:hover figure:after,
	&:hover figure:before {
		background: $mainColor;
	}

	&--open {

		figure {
			background: transparent;

			&:before {
				transform: rotate(-45deg) translate3d(0, 0, 0) scaleX(0.7);
			}

			&:after {
				transform: rotate(45deg) translate3d(0, 0, 0) scaleX(0.7);
			}
		}

		&:hover figure {
			background: transparent;
		}
	}
}

@include res(m) {

	.btn-nav {
		display: flex;
	}

	.button--contact {
		margin: 0 0 0 auto;
		position: relative;
		z-index: 9999;
	}

	.main-nav-wrapper.open {
		display: block;
		position: fixed;
		inset: 0;
		background: rgba(255, 255, 255, 0.88);
		height: auto;
		margin: 0;
		z-index: 999;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		visibility: visible;
		opacity: 1;
		margin-left: 0;

		.main-nav__list {
			display: flex;
			flex-direction: column;
			font-size: clamp(1.875rem, 1.205rem + 3.35vw, 2.813rem);
		}

		.main-nav__item {
			padding: 0 0 calc(23px - 1.5vw);
		}
	}
}