.s-posts {
	padding: 78px 0 40px;

	@include res(m) {
		padding: 50px 0 30px;
	}

	@include res(xs) {
		padding: 30px 0 20px;
	}

	&:before {
		content: "";
		background: url(../img/child.png) no-repeat;
	}
}

.posts {
	&__item {
		padding: 0 0 16px;
	}

	&__title {
		text-align: center;
		margin: 0 0 32px;

		@include res(m) {
			margin: 0 0 calc(10px + 1.5vw);
		}
	}

	&-img-wrapper {
		overflow: hidden;
		border-radius: 8px;
		background: #FEFDFC;
		padding: 27px 30px;
	}

	&__img {
		width: 100%;
	}

	&__text {
		text-align: center;
		padding: 24px 0;
		font-weight: 500;
		letter-spacing: 0.03em;

		@include res(m) {
			padding: 20px 15px;
		}

		@include res(xs) {
			padding: 18px 12px;
		}
	}
}