.promo {
	font-size: clamp(1.063rem, 0.92rem + 0.71vw, 1.375rem);
	line-height: 1.65;
	letter-spacing: 0.03em;
	min-height: 691px;

	@media (min-width: 1024px) {
		padding: 0;
	}

	@include res(m) {
		min-height: 400px;
	}

	.section__title {
		margin: 0 0 25px;

		@include res(l) {
			margin: 0 0 calc(10px + 1vw);
		}
	}

	p {
		margin: 0 0 25px;

		@include res(m) {
			margin: 0 0 18px;
		}
	}

.section-content {
	min-height: 480px;
}
	

}

