.section-content.row [class*="grid"] {
	@include res(m) {
		padding-bottom: 15px;
	}
}

.section {
	padding: 60px 0;

	@include res(l) {
		padding: 30px 0;
	}

	@include res(xs) {
		padding: 20px 0;
	}

	&__title {
		margin: -11px 0 16px;
		letter-spacing: .02em;

		&.h1,
		&h1 {
			margin-bottom: 13px;
		}

		@include res(m) {
			margin: 0 0 calc(10px + 1vw);
		}

		&+.box-mark {
			//border-top: 7px solid $mainBgColor;
		}

		span {
			color: $textColor;
		}
	}

	&__title-sub {
		font-size: clamp(1.063rem, 0.974rem + 0.44vw, 1.25rem);
		padding: 5px 0 0;
		font-weight: 300;
		letter-spacing: .02em;
		font-family: Roboto Slab, sans-serif;
		display: block;
	}

	&__img-box {


		@include res(m) {
			margin: 15px -20px -20px;
		}

		.section__img {
			width: auto;
			margin: 0 auto;
		}

	}

	&__img {
		max-width: 100%;
		height: auto;
		display: block;
		width: 100%;
		border-radius: 8px;

		&+* {
			margin-top: 33px;

			@include res(l) {
				margin-top: 0;
			}
		}

		@include res(l) {
			margin-bottom: 25px;

			.section__img+* {
				margin-bottom: 0;
			}
		}

		@include res(m) {
			margin-bottom: 20px;

			.section__img+* {
				margin-bottom: 0;
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: 20px;
		padding-bottom: 20px;

		@include res(m) {
			padding-top: 0;
			padding-bottom: 15px;
		}
	}

	p {
		margin: 0 0 20px;

		@include res(m) {
			margin: 0 0 calc(12px + 1vw);
		}
	}

}

.roads {
	margin: 0;
	position: absolute;

	width: auto;


	&--1 {
		top: 12%;
		left: -70%;
	}

	&--2 {
		top: -8%;
		right: -20%;
	}

	&--3 {
		bottom: -51.5%;
		right: -91%;
	}
}

.section--1 {
	padding: 80px 0 73px;

	@include res(l) {
		padding: 40px 0;
	}

	@include res(xs) {
		padding: 30px 0 20px;
	}

	@include res(m) {
		.section-content>[class*="grid"] {
			&:first-child {
				order: 2;
			}

			&:last-child {
				order: 1;
			}
		}
	}

	.section__title {
		margin: -16px 0 16px;
	}

}

.section--bottom-null {
	padding-bottom: 50px;

	@include res(m) {
		padding-bottom: 0;
	}
}

.section--white {
	//background: #fff;

	&:last-child {
		margin-bottom: 80px;

		@include res(l) {
			margin-bottom: 30px;
		}

		@include res(xs) {
			margin-bottom: 20px;
		}
	}
}