
.s-services {
    padding: 40px 0 15px;

    @include res(s) {
        padding: 30px 0 15px;
     }
}

@media (min-width: 1025px) {
    .swiper-services {

        .swiper-wrapper {
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 30px;
            row-gap: 40px;
        }

        .swiper-slide {
            width: calc(100% / 4 - 23px);
            height: auto;
        }
    }

    .swiper-services-button {
        display: none;
    }
}

.services {
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;

    @media (max-width: 1025px) {
        margin: 0 -16px 18px;
    }

    &__img {
        margin-bottom: 24px;
        max-height: 80px;
        width: auto;
    }

    &__item {
        padding: 32px;
        border-radius: 8px;
        background: #FEFDFC;
        height: auto;

        @media (max-width: 1440px) {

        }

        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(7),
        &:nth-child(9),
        &:nth-child(11) {
            background: #E6E6E6;
        }

        @media (max-width: 1024px) {
            background: #FEFDFC !important;

            &:nth-child(2n) {
                background: #E6E6E6 !important;
            }
        }

        @media (max-width: 1024px) {
            height: auto;
        }

        @media (max-width: 480px) {
            width: 264px;
        }
    }
}

.section-head {
   text-align: center;
   font-size: 22px;
   margin: 0 auto 22px;
   max-width: 700px;
   line-height: 1.6;
   overflow: hidden;

    @include res(xxl) {
        font-size: calc(18px + (22 - 18) * ((100vw - 360px) / (1440 - 375)));
    }

   @include res(m) {
      line-height: 1.444em;
   }

   h2 {
        margin-bottom: 8px;

       @include res(l) {
           max-width: 85%;
           margin: 0 auto 10px;
       }
   }
}

.s-services {
    .swiper-pagination {
        gap: 8px;
        display: flex;
        justify-content: center;
        position: relative;
        top: 0;

        &-bullet {
            width: 8px;
            display: flex;
            height: 8px;
            border-radius: 50%;
            border: 1px solid #4a5777;
            opacity: 1;
            flex-shrink: 0;
            background: none;
            align-self: center;
            margin: 0 !important;

            &-active {
                width: 12px;
                height: 12px;
                background: #4a5777;
                border: none;
            }
        }
    }
}

@media (max-width: 1025px) {
    .swiper-services-button {
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        z-index: 5;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &--prev {
            left: 8px;
        }

        &--next {
            right: 8px;
        }
    }
}

.image-small {
    max-width: 440px;
    display: block;
    margin: 0 18px 0 auto;

    @include res(l) {
        margin: 0 auto;
    }
}