body {
	font-family: $font;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.55;
	color: $textColor;
	background: $mainBgColor;
	letter-spacing: 0.02em;
	min-width: 320px;

	@include res(l) {
		font-size: 16px;
	}

	&.over {
		overflow: hidden;
	}
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
	font-family: $font;
	font-weight: 800;
	color: $titleColor;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: $font;
	font-weight: normal;
	color: $titleColor;
}

h1,
.h1 {
	color: $h1Color;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.02em;
	font-family: $fontH1;
	margin: 0 0 13px;

	@include res(l) {
		font-size: 36px;
	}

	@include res(m) {
		font-size: 32px;
	}

	@include res(xs) {
		font-size: 28px;
	}
}

h2,
.h2 {
	color: $titleColor;
	font-family: $font;
	font-size: 32px;
	font-style: normal;
	font-weight: 800;
	line-height: 1.25;
	letter-spacing: 0;

	@include res(m) {
		font-size: 28px;
	}

	@include res(xs) {
		font-size: 24px;
	}
}

h3,
.h3 {
	font-size: 28px;
	line-height: 1.2;

	@include res(m) {
		font-size: 24px;
	}

	@include res(xs) {
		font-size: 22px;
	}
}

h4,
.h4 {
	font-size: 20px;
	line-height: 1.3;

	@include res(m) {
		font-size: 18px;
	}

	@include res(xs) {
		font-size: 16px;
	}
}

h5,
.h5 {
	font-size: 18px;
	line-height: 1.3;
}

a {
	color: $link;
	text-decoration: underline;

	&:hover {
		color: $linkHover;
		text-decoration: none;
	}
}

a[href^="tel:"] {
	text-decoration: none;
}

.mark-title {
	color: $mainColor;
	font-weight: 700;
}
.link {
	color: $textColor;
}
.main {
	ul {
		margin: 0;
		padding: 0;

		li {
			padding: 0 0 12px 26px;
			position: relative;

			&:after {
				content: "";
				top: 0.7em;
				left: 10px;
				border-radius: 50%;
				background: #888;
				width: 4px;
				height: 4px;
				position: absolute;

				@include res(m) {
					top: 0.65em;
				}
			}
		}
	}
}

p {
	margin-bottom: 15px;
}

img {
	display: block;
	width: 100%;
	max-width: 100%;
	height: auto;
}

.alignright {
	float: right;
	margin: 0 30px 20px 0;
}

.alignleft {
	float: left;
	margin: 0 30px 20px 0;
}
.video-screen > img {
	margin: 0 auto;
	display: block;
	max-width: 100%;
}

.box-mark {
	border-radius: 4px;
	background: #fff;
	padding: 40px;
	margin: 0 0 25px;

	@include res(l) {
		margin: 0 0 20px;
		padding: 30px;
	}

	@include res(xs) {
		margin: 0 0 15px;
		padding: 20px;
	}

	p {
		margin: 0 0 18px;
	}
}

.help-block {
	overflow: hidden;
	font-size: 16px;
	padding: 0 40px;
	color: $mainColor;
	line-height: 1.5;

	@include res(l) {
		padding: 0 20px;
	}

	@include res(m) {
		padding: 0;
	}
}
