body {
	font-family: $font;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.55;
	color: $textColor;
	background: $mainBgColor;
	letter-spacing: 0.031em;
	min-width: 320px;
	background: #F8F4F1;

	display: flex;
	flex-direction: column;
	min-height: 100vh;

	@include res(xxl) {
		line-height: 1.625;
		font-size: calc(16px + (18 - 16) * ((100vw - 360px) / (1680 - 375)));
	}

	&.over {
		overflow: hidden;
	}

	.main {
		position: relative;
		overflow: hidden;

		&-bg {
			content: "";
			position: absolute;
			z-index: -1;
			pointer-events: none;
			left: 0;
			bottom: 0;
			right: 0;

			@include res(xxl) {
				margin-right: calc(-200px + (0 - -200) * ((100vw - 768px) / (1680 - 768)));
				margin-left: calc(-250px + (0 - -250) * ((100vw - 768px) / (1680 - 768)));
			}

			@include res(m) {
				margin-right: 0;
				margin-left: 0;
				margin-bottom: calc(0px + (-335 - 0) * ((100vw - 360px) / (768 - 360)));
			}
		}

		&-bg__img {
			width: 100%;
			max-width: 1920px;
			margin: 0 auto;
		}
	}

	&.home {
		background: #F8F4F1 url(../img/bg-home.webp) no-repeat 50% 0;


		@include res(m) {
			background: #F8F4F1;
		}
	}





}

.wrapper {
	height: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
	font-family: $font;
	font-weight: 800;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: $font;
	font-weight: normal;
}

h1,
.h1 {
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.02em;
	font-family: $fontH1;
	margin: 0 0 13px;
	color: #4A5777;

	@include res(xxl) {
		font-size: calc(28px + (40 - 28) * ((100vw - 360px) / (1680 - 360)));
	}


	@include res(m) {
		line-height: 1.12;
		letter-spacing: 0.018em;
	}
}

h2,
.h2 {
	color: $titleColor;
	font-family: $font;
	font-size: 32px;
	font-style: normal;
	font-weight: 800;
	line-height: 1.25;
	letter-spacing: 0;
	margin: 0 0 16px;

	@include res(xxl) {
		font-size: calc(22px + (32 - 22) * ((100vw - 360px) / (1680 - 360)));
		margin: 0 0 10px;
	}

	@include res(m) {
		line-height: 1.2;
		letter-spacing: 0.018em;
	}
}

h3,
.h3 {
	font-size: 28px;
	line-height: 1.2;

	@include res(xxl) {
		font-size: calc(20px + (28 - 20) * ((100vw - 360px) / (1680 - 360)));
	}
}

h4,
.h4 {
	font-size: 26px;
	line-height: 1.3;

	@include res(xxl) {
		font-size: calc(18px + (26 - 18) * ((100vw - 360px) / (1680 - 360)));
	}
}

a {
	color: $link;
	text-decoration: underline;

	&:hover {
		color: $linkHover;
		text-decoration: none;
	}
}

a[href^="tel:"] {
	text-decoration: none;
}

.mark-title {
	color: #4A5777;
	font-weight: 700;
}

.link {
	color: $textColor;
}

.main {
	ul {
		margin: 0 0 20px;
		padding: 0;

		@include res(m) {
			line-height: 1.6;
		}

		li {
			padding: 0 0 12px 26px;
			position: relative;

			&:after {
				content: "";
				top: 0.7em;
				left: 10px;
				border-radius: 50%;
				background: #888;
				width: 4px;
				height: 4px;
				position: absolute;

				@include res(m) {
					top: 0.65em;
				}
			}
		}
	}
}

ul.item-center {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
}

p {
	margin: 0 0 calc(10px + 1vw);
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.alignright {
	float: right;
	margin: 0 30px 20px 0;
}

.alignleft {
	float: left;
	margin: 0 30px 20px 0;
}

.video-screen>img {
	margin: 0 auto;
	display: block;
	max-width: 100%;
}

.box-mark {
	border-radius: 4px;
	background: #fff;
	padding: 40px;
	margin: 0 0 25px;

	@include res(l) {
		margin: 0 0 20px;
		padding: 30px;
	}

	@include res(xs) {
		margin: 0 0 15px;
		padding: 20px;
	}

	p {
		margin: 0 0 18px;
	}
}

.help-block {
	overflow: hidden;
	line-height: 1.5;

	@include res(l) {
		padding: 0 20px;
	}

	@include res(m) {
		padding: 0;
	}
}