.section-content.row [class*="grid"] {
  @include res(m) {
    padding-bottom: 25px;
  }
}

.section {
  padding: 80px 0;
  background: #f5f5f5;

  @include res(m) {
    padding: 50px 0 30px;
  }

  @include res(xs) {
    padding: 30px 0 10px;
  }

  &__title {
    color: #000;
    margin: -10px 0 14px;
    letter-spacing: 0.015em;

    @include res(m) {
      margin-top: 0;
    }

    span {
      color: #848484;
    }
  }

  &__title-sub {
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
  }

  &__img {
    max-width: 100%;
    height: auto;
    display: block;
    width: 100%;

    & + * {
      margin-top: 30px;
    }
  }

  p {
    margin: 0 0 20px;

    @include res(m) {
      margin: 0 0 15px;
    }
  }
}

.section--bottom-null {
  padding-bottom: 0;
}

@include res(m) {
  .section--1 {
    .section-content > [class*="grid"] {
      &:first-child {
        order: 2;
      }

      &:last-child {
        order: 1;
      }
    }
  }
}

.section--white {
  background: #fff;
}
